{% if settings.blog_page_sidebar == "left_sidebar" or  settings.blog_page_sidebar == "right_sidebar" %}
{% assign mid_width = "grid__item wide--four-fifths post-large--three-quarters " %}
{% else %}
{% assign mid_width = "grid__item" %}
{% endif %}

{% if settings.blog_page_sidebar == "container" %}
<div class="container">
{% endif %}

<div class="grid-uniform">    
  {% case section.settings.blog_grid %}
  {% when '1' %}
  {%- assign blog_item_width = 'wide--grid__item post-large--grid__item large--grid__item medium--grid__item small-grid__item' -%}
  {% when '2' %}
  {%- assign blog_item_width = 'wide--one-half post-large--one-half large--one-half medium--one-half small-grid__item' -%}            
  {% when '3' %}
  {%- assign blog_item_width = 'wide--one-third post-large--one-third large--one-half medium--one-half small-grid__item' -%}            
  {% when '4' %}
  {%- assign blog_item_width = 'wide--one-quarter post-large--one-third large--one-half medium--one-half small-grid__item' -%}            
  {% when '5' %}
  {%- assign blog_item_width = 'wide--one-fifth post-large--one-quarter large--one-half medium--one-half small-grid__item' -%}            
  {% endcase %}
  {% paginate blog.articles by 6 %}
  <div class="grid__item second {{ mid_width }}">    
    <div class="blog_grid_section">
      {% for article in blog.articles %}



      {% if forloop.first %}
        <div class="grid__item blog-article-item {{ blog_item_width  }}">
          <div class="text-{{ section.settings.align_text }}">
            {% if section.settings.heading_text != blank %}
              <h2 class="custom__block-heading-text heading-underline {{ section.settings.heading_style }}">{{ section.settings.heading_text | escape }}</h2>
            {% endif %}
            {% if section.settings.paragraph_text != blank %}
              <div class="custom__block-body-text rte-setting">
                {{ section.settings.paragraph_text }}
              </div>
            {% endif %}
            {% if section.settings.button_text != blank %}
              <div class="custom__block-body-text rte-setting">
                <a href="{{ section.settings.button_link }}" class="btn">{{ section.settings.button_text }}</a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}



      

      <div class="grid__item blog-article-item {{ blog_item_width  }}">
        <div class="article">
          {% if section.settings.show_blog_4_img %}
          {% if article.image %}
          {% assign image_alt = article.title | escape %}
          <div class="article-img">
            {{ article | img_url: 'master' | img_tag: image_alt, 'article__image' | link_to: article.url }}
          </div>
          {% endif %}
          {% endif %}
          <div class="blog-description">
            <div class="blogs-sub-title">
              {% if section.settings.show_blog_4_date %}
              <p class="blog-date">
                <i class="far fa-calendar"></i> <span data-datetime="{{ article.published_at | date: '%Y-%m-%d' }}"><span class="date">{{ article.published_at | date: '%b' }} {{ article.published_at | date: '%d' }} , {{ article.published_at | date: '%Y' }}</span></span>             
              </p>
              {% endif %}

              {% if article.comments_enabled? %}
              {% assign number_of_comments = article.comments_count %}
              <p class="comments-count"><i class="far fa-comment"></i>{{  number_of_comments }} {{ 'blogs.comments.comments' | t }}</p>
              {% endif %}
              {% if section.settings.show_blog_4_author %}            
              <p class="author">
                <i class="far fa-user"></i>
                <span> {{ article.author }}</span>
              </p> 
              {% endif %}
            </div>
            <div class="home-blog-content blog-detail">				
              <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
              <hr class="divider">
              {% if section.settings.show_blog_4_content %}
              {% if article.excerpt.size > 0 %}
              <p> {{ article.excerpt }}</p>
              {% else %}
              <p>  {{ article.content | strip_html | truncate: 150 }}</p>
              {% endif %}
              {% endif %}

              {% if article.tags.size > 0 and section.settings.show_blog_4_tag %}
              <div class="blog-tag">
                <i class="fas fa-tag"></i>
                {% for tag in article.tags %}
                <a class="blog-tags" href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} &#44; {% endunless %}
                {% endfor %}
              </div>
              {% endif %}

            </div>
            {% if section.settings.show_blog_4_btn %}
            <div class="blog-btn">
              <a class="btn__read-more" href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}<i class="fas fa-angle-double-right"></i></a>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %} 
    </div>
    {% if paginate.pages > 1 %}
    <div class="text-center">
      {% include 'pagination-default' %}
    </div>
    {% endif %}
  </div>    
  {% endpaginate %}
</div>

{% if settings.blog_page_sidebar == "container" %}
</div>
{% endif %}


<style>
.blog-design-4 .home-blog-content.blog-detail h4 a,.blog-design-4 .article-detail h5 a { color:{{ section.settings.blog_design_4_title }}; }
.blog-design-4 .home-blog-content.blog-detail h4 a:hover,.blog-design-4 .article-detail h5 a:hover { color:{{ section.settings.blog_design_4_titlehover }}; }
.blog-design-4 .home-blog-content.blog-detail .blog-date,.blog-design-4 .blog-date { color:{{ section.settings.blog_design_4_datecolor }}; }
.blog-design-4 .home-blog-content.blog-detail .author,.blog-design-4 .author { color:{{ section.settings.blog_design_4_authorcolor }}; }
.blog-design-4 .home-blog-content.blog-detail .author { color:{{ section.settings.blog_design_4_authorcolor }}; }
  .blog-design-4 .article .blog-design-4 .home-blog-content.blog-detail i,.blog-design-4 .article .blogs-sub-title i   {  margin-right: 5px;color:{{ section.settings.blog_design_4_titlehover }}; }
.blog-design-4 .comments-count { color:{{ section.settings.blog_design_commentcolor }}; }
.blog-design-4 .blog-tag { margin-bottom:0px;color:{{ section.settings.blog_design_4_tag }}; }
.blog-design-4 .blog-tag:hover {color:{{ section.settings.blog_design_4_taghover }}; }
</style>


{% schema %}
{
"name": "Blog Page",
"settings": [
{
"type": "select",
"id": "blog_grid",
"label": "Blog per row (grid only)",
"default": "4",
"options": [
{
"value": "1",
"label": "1"
},
{
"value": "2",
"label": "2"
},
{
"value": "3",
"label": "3"
},
{
"value": "4",
"label": "4"
},
{
"value": "5",
"label": "5"
}
]
},

{
"type": "checkbox",
"id": "show_blog_4_content",
"label": "Display Blog content"
},
{
"type": "checkbox",
"id": "show_blog_4_img",
"label": "Display Blog img"
},
{
"type": "checkbox",
"id": "show_blog_4_author",
"label": "Display Blog author name"
},
{
"type": "checkbox",
"id": "show_blog_4_btn",
"label": "Display Blog button"
},
{
"type": "checkbox",
"id": "show_blog_4_date",
"label": "Display Blog date"
},
{
"type": "checkbox",
"id": "show_blog_4_tag",
"label": "Display Blog tag"
},
{
"type": "color",
"id": "blog_design_4_title",
"label": "Blog  title color",
"default": "#000"
},
{
"type": "color",
"id": "blog_design_4_titlehover",
"label": "Blog  title hover color",
"default": "#000"
},
{
"type": "color",
"id": "blog_design_4_datecolor",
"label": "Blog date color",
"default": "#000"
},
{
"type": "color",
"id": "blog_design_4_authorcolor",
"label": "Blog author  color",
"default": "#000"
},
{
"type": "color",
"id": "blog_design_commentcolor",
"label": "Blog comment color",
"default": "#000"
},
{
"type": "color",
"id": "blog_design_4_tag",
"label": "Blog tag color",
"default": "#000"
},
{
"type": "color",
"id": "blog_design_4_taghover",
"label": "Blog tag hover",
"default": "#000"
},
{
"type": "color",
"id": "blog_btn_sec_bg",
"label": "Blog Button Section Bg",
"default": "#000"
},




{
  "type": "header",
  "content": "Heading"
},
{
  "type": "text",
  "id": "heading_text",
  "label": "Text",
  "default": "Talk about your brand"
},
{
  "type": "color",
  "id": "heading_color",
  "label": "Color",
  "default": "#3a3a3a"
},
{
  "type": "select",
  "id": "heading_style",
  "label": "Style",
  "default": "h3",
  "options": [
    {
      "value": "h1",
      "label": "Heading 1"
    },
    {
      "value": "h2",
      "label": "Heading 2"
    },
    {
      "value": "h3",
      "label": "Heading 3"
    },
    {
      "value": "h4",
      "label": "Heading 4"
    },
    {
      "value": "h5",
      "label": "Heading 5"
    },
    {
      "value": "h6",
      "label": "Heading 6"
    }
  ]
},
{
  "type": "header",
  "content": "Paragraph"
},
{
  "type": "richtext",
  "id": "paragraph_text",
  "label": "Text",
  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
},
{
  "type": "color",
  "id": "paragraph_color",
  "label": "Color",
  "default": "#4a4a4a"
},
{
  "type": "select",
  "id": "paragraph_size",
  "label": "Size",
  "default": "1",
  "options": [
    {
      "value": "1",
      "label": "Medium"
    },
    {
      "value": "1.25",
      "label": "Large"
    },
    {
      "value": "1.5",
      "label": "Extra large"
    }
  ]
},
{
  "type": "header",
  "content": "Button"
},
{
  "type": "text",
  "id": "button_text",
  "label": "Button Text",
  "default": "Button"
},
{
  "type": "url",
  "id": "button_link",
  "label": "Buton Link"
},
{
  "type": "header",
  "content": "Layout"
},
{
  "type": "select",
  "id": "width",
  "label": "Container width",
  "default": "50%",
  "options": [
    {
      "value": "25%",
      "label": "25%"
    },
    {
      "value": "33%",
      "label": "33%"
    },
    {
      "value": "50%",
      "label": "50%"
    },
    {
      "value": "66%",
      "label": "66%"
    },
    {
      "value": "75%",
      "label": "75%"
    },
    {
      "value": "100%",
      "label": "100%"
    }
  ]
},
{
  "type": "select",
  "id": "alignment",
  "label": "Vertical alignment",
  "info": "Position relative to other content blocks on the same row",
  "default": "center",
  "options": [
    {
      "value": "top",
      "label": "Top"
    },
    {
      "value": "center",
      "label": "Middle"
    },
    {
      "value": "bottom",
      "label": "Bottom"
    }
  ]
},
{
  "type": "select",
  "id": "align_text",
  "label": "Horizontal alignment",
  "default": "left",
  "options": [
    {
      "value": "left",
      "label": "Left"
    },
    {
      "value": "center",
      "label": "Centered"
    },
    {
      "value": "right",
      "label": "Right"
    }
  ]
},
{
  "type": "checkbox",
  "id": "quote_mode",
  "label": "Quote Mode",
  "default": false,
  "info": "Convert Text into a quote structure"
},
{
  "type": "text",
  "id": "quote_text",
  "label": "Quote"
}


]
}
{% endschema %}